
@font-face {
  font-family: "Lemon Milk";
  src: url("Fonts/LemonMilk.otf") format("opentype");
}

@font-face {
  font-family: "Overpass reg";
  src: url("Fonts/overpass-regular.otf") format("opentype");
}

@font-face {
  font-family: "Overpass light";
  src: url("Fonts/overpass-light.otf") format("opentype");
}

@font-face {
  font-family: "Overpass bold";
  src: url("Fonts/overpass-bold.otf") format("opentype");
}
a{
	color:#004101;
	font-weight: bold;
}

h3 {
  margin: auto;
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 2;
}
.slider {
  max-width: 600px;
  height: 350px;
  margin: 20px auto;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 350px;
}
video {
	background: url(./images/thumbnail.jpg)no-repeat center;
	background-size: cover!important;
}
.slide1 {
 /* background: url(./images/Spool/spool3.png)no-repeat center;*/
      background-size: cover!important;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
  /*background: url(./images/Spool/spool1.png)no-repeat center;*/
      background-size: cover!important;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
   /* background: url(./images/Spool/spool2.png)no-repeat center;*/
      background-size: cover!important;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}

.slide4 {
  background-size: cover!important;

  }
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}





.BG_color_orange{
  background-color: #E2673D;
  padding-top: 30px;
  padding-bottom: 0px;
}


.BG_color_orange_dia {
  position: relative;
  min-height: 550px;
  background: white;
  overflow: hidden;
}
.BG_color_orange_dia:after,
.BG_color_orange_dia:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  transform-origin: right bottom;
}
.BG_color_orange_dia:before {
  bottom: 0px;
  background: #81924D;
  transform: skewY(-19deg);
}
.BG_color_orange_dia:after {
  bottom: -120px;
  background: #4E5C29;
  transform: skewY(-15deg);
}
span {
  position: relative;
  z-index: 2;
}

/* Just for demo */



h1{
	font-family: 'Gothic A1', sans-serif;
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
}

h2{
	font-family: 'Gothic A1', sans-serif, thin;
	text-align: center;
}

head{
	width:100%;
	max-width:800px;
	margin: auto;
}

body{
	width:100%;
	margin: auto;
  background-color: white;
}
#About{
	background-color: white;
	padding-bottom: none;
	margin-bottom: none;
}
/*BOTTOM*/
	#Bottom{
		padding-top: none;
		background-color: white;
		margin-top: none;
	}
  h1 {
    margin-top: 10px;
}
	#bottomG{
		background-color: #81924D;
		min-height: 250px;
		margin-top: -200px;
	}
	#imageSet{
		margin: auto;
		text-align: center;
	}
	#imageSet img{
		width:50px;
		margin: 20px 20px 10px 20px;

	}
	#imageSet1{
		font-family: 'Francois One', sans-serif;
		font-weight: bold;

  text-transform: uppercase;
		font-size: 20px;
		margin-top: 0px;
		color:white;
		letter-spacing: 5px;
	}
	#imageSet2{
		font-family: "Overpass light";
		font-size: 18px;
		color:white;
		letter-spacing: 10px;
	}
/*BOTTOM*/

.mixitup-control-active{
 background-color: #C45233!important;
}

#buttonGroup{
  display: block;
  max-width:1000px; 
  width:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#buttonGroup button{
  color: #ffffff;
  border-radius: 25px;
  border:none;
    background-color: #E2673D;
    font-size: 14px;
    min-width: 17%;
    padding: 2px 4px;
    line-height: 1.9;
    margin: 3px 7px 3px 0px;
    font-family: 'Gothic A1', sans-serif, bold;
}
#buttonGroup button:hover{
  color: #ffffff;
  cursor: pointer;
  background-color: #C45233;
}
button:focus, input[type="button"]:focus {
    outline: none;
}

#block{
  width: 100%;
  min-height: 100px;
  display: block;
    position: relative;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin:auto;
  }

.container{
  display: block;
  max-width:1000px; 
  width:100%;
  min-height: 200px;
    margin-left: auto;
    margin-right: auto;
  margin:auto;
  text-align: left;
    padding-top: 1rem;
  }

  .content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.active, #block:hover {
  background-color: #ccc;
}



.button{
background: black;
color: white;
font-family: 'Gothic A1', sans-serif, bold;
outline: none;
display: inline;
margin-left: 10px;
margin-right: 10px;
float: right;
}

a{
	text-decoration: none;
}

#navbar {
  overflow: hidden;
  background-color: #FFF;
}

/* Navbar links */
#navbar a {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#navFormat{
	margin-right: 2%;
	margin-left: 2%;
}
#Name {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  float: left;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  letter-spacing: 3px;
}
#Storyteller {
  font-family: 'Gothic A1', sans-serif, thin;
  float: left;
  font-size: 13px;
  display: inline-block;
  margin-top: 12px;
  letter-spacing: 5px;
  margin-bottom: 0px;
  color: #9f9f9f;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #FFF;
  padding: 10px;
  margin:auto;
  width:90%;
}

/*ABOUT*/
	#AboutPicture{
		width: 50%;
		margin-left: 0px;
		margin-right: auto; 
		float:left;
	}
	#AboutPicture img{
		max-width: 400px;
		margin-right: 0px;
		margin-left: auto;
		float: right; 
	}
	#aboutText{
		width: 48%;
		margin-right: 0px;
		margin-left: auto; 
		padding-top: 30px;
		float:right;
	}

	#about1{
		font-family: 'Francois One', sans-serif;
		font-weight: bold;
  text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 3px;
	}

	#about2{
		font-family: "Overpass bold";
		font-size: 18px;
		margin-top: 5px;
		color:#E0A696;
		max-width: 250px;
	}

	#about3{
		font-family: "Overpass reg";
		font-size: 18px;
	}
	#about4{
		font-family: "Overpass bold";
		font-size: 18px;
		color:#E2673D;
	}
	#about5{
		font-family: "Overpass reg";
		font-size: 18px;
	}

/*ABOUT*/
h7{
	margin-top: 0px;
	text-align:center;
	font-family: 'Gothic A1', sans-serif, bold;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}
.collapsible img {

	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.collapsible {
  background-color: #E2673D;
  color: black;
  color:#fff;
  cursor: pointer;
  padding: 20px;
  border: none;
  text-align:center;
  outline: none;
  font-size: 15px;
}
.bigger{
    visibility: visible;
    height: auto;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}
  .medium{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;

  }
  .mobile{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }

.active, .collapsible:hover {
  background-color: #C45233;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #C45233;
  color:#fff;
  font-family: 'Gothic A1', sans-serif, bold;
  line-height: 28px;
}

@media(max-width:910px) {
.slider{
  height:280px;
}

  .slide1,.slide2,.slide3,.slide4,.slide5 {
  height: 280px;
}
  #block{
    width: 70%;
    min-height: 10px;
  }
  #Storyteller{
    width:0;
    display: none;
  }
  #Name {
    display: none;
  }
 
  #navFormat {
    margin-right: 5px;
    margin-left: 5px;
  }
  .bigger{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }
  .medium{
    visibility: visible;
    height: auto;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  .mobile{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }

}
@media(max-width:550px) {
.slider{
	height:170px;
}
  #bottomG{
    margin-top: -20px;
  }

	.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 170px;
}
  #navbar a {
    font-size: 14px;
    text-align: center;
    margin:auto;
    float:center;
  }
  #block{
    width: 100%;
    min-height: 10px;
  }
  .bigger{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }
  .medium{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }
  .mobile{
    visibility: visible;
    height: auto;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
 #about4{
 	text-align: center;
 }
  #AboutPicture img {

    max-width: 100%;
    margin-bottom: 100px;

    }
  #imageSet p{
    font-size: 15px;
    text-align: center;
  }
  .BG_color_orange_dia::before {
    background: none;
    }
  .BG_color_orange_dia::after {
    background: none;
    }
    .BG_color_orange_dia {
      min-height: 350px;
    }

}



