
:root {
  --main-second-color: coral;
}
.mobile_only{
  display: none;
  height: 0px;
}
#Social b{
  display: none;
}
.mobile_directions{
  height:0px;
  display: none;
}
.pulitzer b{
    background: #fff942;
    font-weight: 500;
    color:black;
}
.title_links{
  color:black;
}
.title_links:hover{
  color:#cf4516;
}
.title_links:after{
  content: url('images/link.svg');
  width: 15px;
  margin-left: 10px;
  display: inline-block;
}

.fa{
    font-size: 50px;
    padding-right: 30px;
    padding-left: 30px;
  }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  height: 750px;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap img {
    width: 100%;
    margin: auto;
    display: block;
  }
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

#responsibility h4{
  font-family: 'Gothic A1', sans-serif, bold;
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}
#responsibility p{
  margin-top:5px; 
}

#responsibility span{
  background: #ebeff0;
  font-size: 15px;
  padding: 5px;
  margin-left: 8px;
  border-radius: 5px;
  color: rgb(52 98 19);
  line-height: 35px;
}

.slide{
    max-width: 650px;
    margin: auto;
    display: block;
}

.flex{
  display:flex;
}

.prev, .next{
  flex: 1;

  filter: alpha(opacity=20);
  -moz-opacity:0.2;
  -khtml-opacity: 0.2;
    
  /* Modern!*/
  opacity: 0.2;

}

.prev:hover, .next:hover{
  filter: alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
    
  /* Modern!*/
  opacity: 0.5;

}

.prev img, .next img{
  width:40px;
  margin-top: 50%;
}

.prev{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-right: 70px;
}
.next{
  margin-left: 70px;
}
.flex .main{
    flex: 0 1 650px;
    overflow: hidden;
}

.top{
  border-bottom: 1px solid #aeaeae;
  max-width: 765px;
  height: 400px;
  width: 100%;
  margin: auto;
  background-image: url("images/Pose.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.top .myBox{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  margin-bottom: 50px;
}
.mobile_about{

  margin-bottom: 15px;
  padding-bottom: 15px;
  margin-top: 65px;
}
.mobile_only h1{
  color:black;
  padding:15px;
  margin: 0px;
  font-family: 'Bree Serif', serif;
  font-size: 27px;
  text-align: center;
}
.mobile_about h2{
  color: #606060;
  padding:17px;
  margin: 0px;
  padding-bottom: 10px;
  font-size: 17px;
  font-weight: normal;
  padding-left: 15px;
  text-shadow: 2px 0px 3px white;
}
.mobile_about h2:hover{
  color:var(--main-second-color);
}
.mobile_about .links{
  display: flex;
}
.mobile_about .links a{flex: 1;}
.myBox h1{
  color:black;
  padding:15px;
  font-size: 3em;
  margin: 0px;
  padding-bottom: 20px;
  font-family: 'Bree Serif', serif;
}
.myBox h2{
  color: #606060;
  padding:17px;
  margin: 0px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  padding-left: 15px;
  text-shadow: 2px 0px 3px white;
}
.myBox h2:hover{
  color:var(--main-second-color);
}
.mobile_about p{
  padding:15px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 12px;
  font-family: 'Gothic A1', sans-serif, thin;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

p{
    font-size: 16px;
    font-family: 'Gothic A1', sans-serif, thin;
    line-height: 26px;
}
.goal p{
  text-align: center;
}

#caption{
    font-size: 14px;
    color: #676767;
    line-height: 21px;
  }
.myBox p{
  padding:15px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 12px;
  font-family: 'Gothic A1', sans-serif, thin;
  font-size: 16px;
  line-height: 23px;
}
.myBox .text{
  color:black;
  margin-left: 300px;
  margin-top: 50px;
  background: #ffffffba;
  width: 400px;
  border-radius: 5px;
  text-shadow: 2px 0px 3px white;
}

.myBox .text .links{
  display: flex;
}

.myBox .text .links a{
/*  flex: 1 1 0;*/
}

#Portfolio {
  margin-bottom: 100px;
  margin-top: 90px;
}


#Portfolio h1{
  text-align: center;
}
.project{
  margin-top: 0px;
}

#slides{
  max-width: 500px;
  margin: auto;
  margin-bottom: 65px;
}
.firstSlide .mobile_directions{
    margin-top: 100px;
}
video {
  display: block;
  margin: 0 auto;
  max-width: 500px;
      width: 100%;
  margin-top: 60px;
/*  background: url(./images/thumbnail.jpg)no-repeat center;*/
}
#award{
  text-align: center;
  color: #727272;
  font-size: 13px;
  font-weight: normal;
  font-family: 'Gothic A1', sans-serif, thin;
}
#award img{
    width: 13px;
    margin: 0px 8px -3px 6px;
    display: inline;
  }

#Portfolio h2{
  font-size: 18px;
}


















h3 {
  margin: auto;
  text-align: center;
  font-family: 'Gothic A1', sans-serif, thin;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
  text-transform: uppercase;
  background: #ececec;
  color: #686868;
}

.slider {
  max-width: 600px;
  height: 350px;
  margin: 20px auto;
  position: relative;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}





.BG_color_orange{
  background-color: #E2673D;
  padding-top: 30px;
  padding-bottom: 0px;
}


/*.BG_color_orange_dia {
  position: relative;
  min-height: 550px;
  background: white;
  overflow: hidden;
}
.BG_color_orange_dia:after,
.BG_color_orange_dia:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  transform-origin: right bottom;
}
.BG_color_orange_dia:before {
  bottom: 0px;
  background: #81924D;
  transform: skewY(-19deg);
}
.BG_color_orange_dia:after {
  bottom: -120px;
  background: #4E5C29;
  transform: skewY(-15deg);
}*/
span {
  position: relative;
  z-index: 2;
}

/* Just for demo */





h2{
	font-family: 'Gothic A1', sans-serif, thin;
	text-align: center;
}

head{
	width:100%;
	max-width:800px;
	margin: auto;
}

body{
	width:100%;
	margin: auto;
/*  background: linear-gradient(0deg, rgb(241, 243, 244) 0%, rgb(241, 243, 244) 100%);
*/  background-repeat: no-repeat;
  background-attachment: fixed;
}

#About{
	padding-bottom: none;
	margin-bottom: none;
}
/*BOTTOM*/
	#Bottom{
		padding-top: none;
		margin-top: none;
	}
  h1 {
    margin-top: 10px;
}
	#bottomG{
		min-height: 250px;
		margin-top: -200px;
	}
	.imageSet{
		margin: auto;
		text-align: center;
    margin-bottom: 100px;
	}
	.imageSet img{
		width:50px;
		margin: 20px 20px 10px 20px;
    border-radius: 10px;


	}
	#imageSet1{
		font-family: 'Bree Serif', serif;
		font-weight: bold;

  text-transform: uppercase;
		font-size: 20px;
		margin-top: 0px;
		letter-spacing: 5px;
	}
	#imageSet2{
    font-family: 'Gothic A1', sans-serif, thin;
    color: #727272;
		font-size: 18px;
	}
/*BOTTOM*/

.mixitup-control-active{
}

#buttonGroup{
  display: block;
  max-width:1000px; 
  width:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#buttonGroup button{
  color: black;
  border-radius: 25px;
  border:none;
    font-size: 14px;
    min-width: 17%;
    padding: 2px 4px;
    line-height: 1.9;
    margin: 3px 7px 3px 0px;
    font-family: 'Gothic A1', sans-serif, bold;
}
#buttonGroup button:hover{
  color: #ffffff;
  cursor: pointer;
  background-color: #C45233;
}
button:focus, input[type="button"]:focus {
    outline: none;
}

#block{
  width: 100%;
  min-height: 100px;
  display: block;
    position: relative;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin:auto;
  }

.container{
  display: block;
  max-width:1000px; 
  width:100%;
  min-height: 200px;
    margin-left: auto;
    margin-right: auto;
  margin:auto;
  text-align: left;
    padding-top: 1rem;
  }

  .content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.active, #block:hover {
  background-color: #ccc;
}



.button{
background: black;
color: white;
font-family: 'Gothic A1', sans-serif, bold;
outline: none;
display: inline;
margin-left: 10px;
margin-right: 10px;
float: right;
}

a{
	text-decoration: none;
  color: #707070;
}

#navbar {
  overflow: hidden;
  background-color:  rgba(235,239,240,1) ;
}

/* Navbar links */
#navbar a {
  font-family: 'Gothic A1', sans-serif, bold;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}
#navFormat{
	margin-right: 2%;
	margin-left: 2%;
}
#Name {
  font-family: 'Gothic A1', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  float: left;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  letter-spacing: 3px;
}
#Storyteller {
  font-family: 'Gothic A1', sans-serif, thin;
  float: left;
  font-size: 11px;
  display: inline-block;
  margin-top: 5px;
  letter-spacing: 5px;
  margin-bottom: 0px;
  color: #6d6969;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #FFF;
  padding: 10px;
  margin:auto;
  width:90%;
}

/*ABOUT*/
	#AboutPicture{
		width: 50%;
		margin-left: 0px;
		margin-right: auto; 
		float:left;
	}
	#AboutPicture img{
		max-width: 400px;
		margin-right: 0px;
		margin-left: auto;
		float: right; 
	}
	#aboutText{
		width: 48%;
		margin-right: 0px;
		margin-left: auto; 
		padding-top: 30px;
		float:right;
	}

	#about1{
		font-family: 'Bree Serif', serif;
		font-weight: bold;
  text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 3px;
	}

	#about2{
		font-family: "Overpass bold";
		font-size: 18px;
		margin-top: 5px;
		color:#E0A696;
		max-width: 250px;
	}

	#about3{
		font-family: "Overpass reg";
		font-size: 18px;
	}
	#about4{
		font-family: "Overpass bold";
		font-size: 18px;
		color:#E2673D;
	}
	#about5{
		font-family: "Overpass reg";
		font-size: 18px;
	}

/*ABOUT*/
h7{
	margin-top: 0px;
	text-align:center;
	font-family: 'Gothic A1', sans-serif, bold;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}
.collapsible img {

	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.collapsible {
  color: black;
  color:#fff;
  cursor: pointer;
  padding: 20px;
  border: none;
  text-align:center;
  outline: none;
  font-size: 15px;
}
.bigger{
    visibility: visible;
    height: auto;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}
  .medium{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;

  }
  .mobile{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }



.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #C45233;
  color:#fff;
  font-family: 'Gothic A1', sans-serif, bold;
  line-height: 28px;
}

@media(max-width:910px) {
.slider{
  height:280px;
}

  .slide1,.slide2,.slide3,.slide4,.slide5 {
  height: 280px;
}
  #block{
    width: 70%;
    min-height: 10px;
  }
  #Storyteller{
    width:0;
    display: none;
  }
  #Name {
    display: none;
  }
 
  #navFormat {
    margin-right: 5px;
    margin-left: 5px;
  }
  .bigger{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }
  .medium{
    visibility: visible;
    height: auto;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  .mobile{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }

}
@media(max-width:550px) {
.mobile_only{
  display: block;
  height: auto;
}
.top{
  border-bottom: none;
  margin-top: -97px;
  border-radius: 400px;
  background-color: #ebeff0;
  width: 300px;
  height: 300px;
}

.mobile_directions{
  height:auto;
  display: block;
  text-align:right;
  margin-top: 20px;
}

.mobile_directions p{
    text-align: right;
    color: #727272;
    margin-top: 20px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Gothic A1', sans-serif, thin;
    display:inline;
    padding-right:10px;
}

.mobile_directions img{
    width:13px;
    display: inline;
    opacity: 35%;
    position: relative;
    top: 4px;
}
  .myBox .text {
    display: none;
    width:0;
    height: 0;
  }
.flex{
  display:contents;
}
.prev img, .next img{
  width: 0px;
  margin-top: 50%;
}

.prev, .next{
  margin-right: 0px;
      height: 0px;
}

.slide {
    width: 95%;
}

.slider{
	height:170px;
}
  #bottomG{
    margin-top: -20px;
  }

	.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 170px;
}
  #navbar a {
    font-size: 14px;
    text-align: center;
    margin:auto;
    float:center;
  }
  #block{
    width: 100%;
    min-height: 10px;
  }
  .bigger{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }
  .medium{
    visibility: hidden;
    margin: 0px 0px 0px 0px;
    height: 0;
    width: 0;
    display: none;
  }
  .mobile{
    visibility: visible;
    height: auto;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
 #about4{
 	text-align: center;
 }
  #AboutPicture img {

    max-width: 100%;
    margin-bottom: 100px;

    }
  #imageSet p{
    font-size: 15px;
    text-align: center;
  }
  .BG_color_orange_dia::before {
    background: none;
    }
  .BG_color_orange_dia::after {
    background: none;
    }
    .BG_color_orange_dia {
      min-height: 350px;
    }

}

@media (max-width: 350px){
  #navbar a {
    font-size: 12px;
  }
}

