
$gold: #FFB84D;
$ocean: #202830;
$foods: rgba(12, 12, 11, 0.932);
$coronavirus: #08445C;
$star_wars: #14151B;
$casper: #0f172a;

// These are all styles for my main index page. They fill also form the basis of other page styles
html{
    width: 100%;
    overflow-x: hidden;

}
.result{
    color:green;
    padding-top:20px;
}
.takeaways{
    margin-top:0px;
}
.topper p{
    @media only screen and (max-width: 700px) {
        margin-right: 10px;
        margin-left: 10px;
    }
}
ul.numbered{
    list-style-type: decimal;
    li{
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: 1px solid rgb(219, 219, 219);
    }
    li.last{
            border-bottom: none;
        }
}

body{
   font-family: 'Open Sans', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    p{
        line-height: 1.55;
    }

    .topper{
        height: calc(100vh ); 
        @media only screen and (max-width: 700px) {
            height: auto;
        }
    }

    #container{
        max-width:900px;
        width:100%;
        margin: auto;
    }

    .topNav{
        background: black;
        color: white;
        overflow: hidden;
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0px;
        a {
            float: right;
            color: #f2f2f2;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
            font-size: 17px;
          }
        a.left{
            float: left;
            font-weight: bold;
            font-size: 30px;
            position: absolute;
            padding-top: 10px;
            
            .title{
                font-weight: normal;
                font-size: 20px;
                padding-left:15px;
            }
        }
        a.left:hover {
            background-color: rgba(0, 0, 0, 0);
            color: white;
          }
        a:hover {
            background-color: #ddd;
            color: black;
          }
        a.active {
            background-color: #444444;
            color: white;
          }
    }
    #about.flex{
        justify-content: space-evenly;
        align-items: center;
    }
    #about{
        max-width: 1200px;
        margin:auto;
        width: 100%;
        vertical-align: middle;
        // .inner{
        //     margin-top:30%!important;
        // }
        h1{
            font-weight: bold;
            font-size: 40px;
            line-height: 54px;
            text-align: center;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 25px;
            color: #000000;
            text-align: left;
        }
        p.hi{
            text-align: center;
        }
        a{
            color: black;
        }
        span{
            padding: 0px 10px;
        }
        .hi{
            margin-bottom: 0px;
        }
        .links{
            text-align: center;
            width: 100%;
            display: block;
            a:hover{
                color: rgb(105, 105, 105);
                text-decoration: none;
            }
            
            @media only screen and (max-width: 700px) {
                width:100%;
                margin:auto;
                display: block;
                margin-top:30px;
            }
        }
        .pronounce{
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: #7D7D7D;
            margin-top: 0px;
        }
        .image{
            padding:30px;
            height: auto;
            img{
                width:100%;
                max-width:500px;
            }
            @media only screen and (max-width: 700px) {
                padding:0px;
                width:90%;
                margin-top:20px;
                height: calc(100vh);
            }
        }
        .text{
            max-width:500px;
            width:100%;
        }
    }

    #portfolio{
        h2{
            text-align: center;
            padding:30px;
        }
        ul{
            list-style-type:none;
        }
        .template-Project{
            width:330px;
            padding: 5px;
            margin-bottom: 50px;
            background-color: rgb(255, 255, 255);
          p.award{
            display:inline-block;
          }
          .pulitzer{
            position:absolute;
            background:white;
            margin-left:-20px;
            margin-top:-20px;
          }
          .text{
            display:inline-block;
            width:256px;

            }
          img{
            width:100%;
            box-shadow: 2px 3px 15px #d3d1d1;
          }
          img.award{
            width:20px;
            box-shadow: none;
            display:inline-block;
            margin-bottom:-10px;
            margin-right:10px;
            margin-left:10px;
          }

          p{
            color:grey;
            margin-top: 8px;
          }
          a{
              color: black;
              text-decoration: none;
          }
        }
        .template-Project:hover{
            background-color: #f8efe6;

            h3{
                color: rgb(105, 50, 18);
            }
            p{
                color:rgb(85, 68, 53);
            }
            img{
                
            }
        }
        .flex{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            padding: 0;
            // margin: 0;
            // width:100%;
            margin: auto;
            width: 85%;
            .inner{
                flex-direction: row;
            }
        }
    }
    #contact.darkBG{
        margin-top:0px;
        padding-top: 100px;
        color: white;
        padding-bottom: 100px;
        p{
            color: #c1c1c1;
        }
    }

    #contact{
        margin-top:100px;
        text-align: center;
        color: black;
        h2{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
            margin-top: 0px;
            letter-spacing: 1px;
        }
        p{
            color: #727272;
            font-size: 17px;
            text-decoration: none;
            }
        a{
            text-decoration: none;
            p{
                font-size: 12px;
                margin-top: 0px;
            }
        }
        .imageSet{
            margin: auto;
            text-align: center;
            margin-bottom: 100px;
        }
        .flex{
            width: fit-content;
            margin:auto;
            display: flex;
        }
        .icon{
            width: 40px;
            height: 40px;
            margin: 10px 20px 5px 20px;
            border: 1px solid rgba(0, 0, 0, 0);
        }
        .icon:hover{
            opacity: .7;
            border: 1px solid rgb(189, 119, 7);
        }
    }

    .contain{
        max-width:1200px;
        margin: auto;
        border-left: 1px solid grey;
        padding-left:40px;
        padding-bottom: 80px;
        h2::before{
            width: 30px;
            height: 30px;
            display: inline-block;
            background-color: $gold;
            content: '';
            border-radius: 50px;
            position: absolute;
            margin-left: -56px;
            @media only screen and (max-width: 700px) {
                display: none;
            }
        }
        .text .first{
            margin-top:0px;
            padding-top:0px;
            @media only screen and (max-width: 700px) {
                margin-top:20px;
            }
        }
        @media only screen and (max-width: 700px) {
            border:none;
            padding-right:20px;
            padding-left:20px;
        }
    }

    .image-caption{
        font-size: 12px;
        color:grey;
        margin-top:0px;
    }
    
}

.flex{
    display: flex;

    @media only screen and (max-width: 700px) {
        display: block;
        .inner{
            margin:auto;
            width: 100%;
        }
    }
}
.flex.add-top{
    margin-top:30px;
}

.topper{
    height: calc(100vh); 
    width:100%;
    h1{
        font-size: 50px;
        @media only screen and (max-width: 700px) {
            font-size: 30px;
        }
    }
    .center{
       padding-top:20vh;
       margin-top: 0px;
        width: 100%;
        text-align: center;
    }
}
.high-level-summary{
    width: fit-content;
    margin: auto;
    margin-top:80px;
    margin-bottom:100px;
    
    li{
        span{
            font-style: italic;
            font-size: 12px;
        }
    }
    h2{
        text-align: center;
    }
    img{
        max-width:200px;
    }
    ul{
        margin-left:70px;
        list-style-type:none;
        line-height: 23px;
        label{
            font-weight: bold;
            display: block;
            margin-top:20px;
        }
        @media only screen and (max-width: 700px) {
            margin-left:0px;
        }
    }
    .text{
        max-width: 360px;
    }
}
.the-deets{
    padding: 0px 30px;
    @media only screen and (max-width: 700px) {
        padding:0px;
    }
    .flex{
        padding: 50px 0px;
        max-width: 1200px;
        margin: auto;
        justify-content: space-between;
        
    }
    .inner{
        width:300px;
        padding: 0px 10px;
        @media only screen and (max-width: 700px) {
            padding-top:30px;
        }
        
    }
    h2{
        color:$gold;
        font-size: 15px;
    }
    h3{
        font-size: 23px;
        @media only screen and (max-width: 700px) {
            margin:5px 0px;
        }
    }
}

.understand-problem-space, .the-process, .the-results{
    margin-top:80px;
    margin-bottom: 0px;
    padding: 0px 30px;
    @media only screen and (max-width: 700px) {
        padding:0px;
    }
    h2{
        font-size: 25px;
        text-transform: uppercase;
    }
    img{
        width:100%;
    }
    .inner{
        width:50%;
        @media only screen and (max-width: 700px) {
            width:100%;
        }
    }
    .text{
        padding-left:100px;
        @media only screen and (max-width: 700px) {
            padding-left:0px;
        }
    }
}

.goals{
    padding:0px;
    margin-top: -20px;
    padding: 0px 30px;
    @media only screen and (max-width: 700px) {
        padding:0px;
    }
    h2{
        padding-top:80px;
    }
}
.the-process{
    padding:0px;
    margin-top: -20px;
    padding: 0px 30px;
    @media only screen and (max-width: 700px) {
        padding:0px;
    }
    h2{
        padding-top: 80px;
    }
}
.the-results{
    padding:0px;
    margin-top: -20px;
    padding: 0px 30px;
    @media only screen and (max-width: 700px) {
        padding:0px;
    }
    .contain{
        border: none;
        margin-top: -20px;
    }
    .line{
        height:80px;
        max-width:1200px;
        margin: auto;
        width: 100%;
        padding-left:40px;
        border-left: 1px solid grey;
        @media only screen and (max-width: 700px) {
            border:none;
        }
    }
}

.awards{
    margin:none;
    padding:30px 0px;


    
    .all{
        width: fit-content;
        margin: auto;
    }
    h2{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 0px;
        letter-spacing: 1px;
    }
    img{
        width: 20px;
        margin: 8px 0px;
        padding-right:10px;
    }
    p{
        margin:10px 0px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    p b{
        color: black;
        font-weight: normal;
        background-color: $gold;
    }
    .text{
        max-width:400px;
    }
    @media only screen and (max-width: 700px) {
        .flex{
            display: flex;
            .inner{
                width: fit-content;
            }
            .inner.text{
                max-width:300px;
                width: 100%;
            }
        }
    }
    
}

.ocean_game{
    .topper{
        background-image: url('../images/projects/beaches/topper/desktop.jpg');
        background-size: cover;
        background-position: bottom;

        @media only screen and (max-width: 700px) {
            background-size:contain;
            background-repeat: no-repeat;
            background-image: url('../images/projects/beaches/topper/mobile.jpg');
        }

        h1{
            background-color: rgba(255, 255, 255, 0.724);
            width: fit-content;
            margin:auto;
            padding:20px;
        }
    }
    .darkBG{
        background-color: $ocean;
        color: white;

        a{
        color:white;
        }
    }
    .the-deets {
        p{
            color:white;
            font-size: 15px;
        }
        h3 {
            color: white;
            font-size: 23px;
        }
    }
    .goals{
        h2{
            color: white;
        }
    } 
}
.restaurants{
    background: #f9f8f2;

    .desktop {
        display: block!important;
        height: auto!important;
    }
    .topper {
        max-width: 1030px;
        margin: 50px auto 10px;
        vertical-align: center;
        margin-top: 7%;
        height: calc(100vh)!important;
        .flex{
            padding-top: 10%;
        }
        .hedSVGDesktop {
            flex: 1 1 45%;
            padding: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            width: 45%;
            margin: auto;
            display: block;
            background-image: url(../images/projects/101_list/topper/bg.gif);
            max-width: 100%;
            vertical-align: middle;
            border: 0;
        }
        svg {
            flex: 1 1 50%;
            margin-left: 5%;
            padding-bottom: 20px;
            height: 100%;
            width: 100%;
        }
        .hedImage {
            width: 210px;
            margin: auto;
            display: block;
            height: auto;
        }
        .spotImage {
            position: absolute;
            top: 333px;
            left: 0;
            width: 100%;
            z-index: -2;
        }
        .words_container {
            flex: 1 1 50%;
        }
        .hedSVG {
            width: 300px;
            margin: auto;
            display: block;
        }
        .words_container_position {
            padding-bottom: 0;
            padding-left: 0;
            position: relative;
            text-align: center;
            transform: rotate(-10deg);
            display: block;
            margin-top: -88px;
        }
        .hedPartTwo span {
            -webkit-transform: rotate(8deg);
            float: left;
            transform: rotate(8deg);
        }
        .hed1, .hed2, .hed3, .hed4 {
            width: fit-content;
            position: absolute;
            font-size: 2.8em;
            top: 0;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            display: block;
            font-weight: 900;
        }
        @keyframes hedRotate4{
            from,to{
                -moz-opacity:0;
                -khtml-opacity:0;
                opacity:0
                }
            75%{
                -moz-opacity:0;
                -khtml-opacity:0;
                opacity:0;
                padding-top:10px}
            80%,95%{
                -moz-opacity:1;
                -khtml-opacity:1;
                opacity:1;
                padding-top:0px}
        }
        @keyframes hedRotate2{
            25%,from{
                padding-top:10px;
                -moz-opacity:0;
                -khtml-opacity:0;
                opacity:0}
            30%,45%{
                padding-top:0;
                -moz-opacity:1;
                -khtml-opacity:1;
                opacity:1
            }
            50%,to{
                -moz-opacity:0;
                -khtml-opacity:0;
                opacity:0
            }
        }
        @keyframes hedRotate3{
            75%,from,to{
                -moz-opacity:0;
                -khtml-opacity:0;
                opacity:0
            }
            50%{
                -moz-opacity:0;
                -khtml-opacity:0;
                opacity:0;
                padding-top:10px
            }
            55%,70%{
                -moz-opacity:1;
                -khtml-opacity:1;
                opacity:1;
                padding-top:0
            }
        }
        @keyframes hedRotate{
            from{
                padding-top:10px;
                -moz-opacity:0;
                -khtml-opacity:0;
                opacity:0
            }
            20%,5%{
                padding-top:0;
                -moz-opacity:1;
                -khtml-opacity:1;
                opacity:1
            }
            25%,to{
                -moz-opacity:0;
                -khtml-opacity:0;
                opacity:0
            }
        }

        .hed1{
            -webkit-animation-name: hedRotate;
            animation-name: hedRotate;
            -webkit-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
        .hed2{
            -webkit-animation-name: hedRotate2;
            animation-name: hedRotate2;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        .hed3{
            -webkit-animation-name: hedRotate3;
            animation-name: hedRotate3;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        .hed4{
            -webkit-animation-name: hedRotate4;
            animation-name: hedRotate4;
            -webkit-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
        @media only screen and (max-width: 700px) {
            .topper_text {
                z-index: 10;
                display: block;
                max-width: 800px;
                margin: auto;
                font-weight: 900;
            }
            .hedPartThree {
                font-size: 35px;
                width: 90%;
                text-align: center;
                margin: auto;
                padding-top: 245px;
                z-index: 10;
                transform: none;
                border-top: none;
                font-weight: 900;
                line-height: 40px;
            }
        }
    }
    .darkBG{
        background-color: $foods;
        color: #f9f8f2;
    }
    .the-process{
        .diff-styles{
            .inner{
                max-width: 250px;
            }
            h3{
                text-align: center;
            }
            p{
                font-size: 12px;
                padding:0px 10px;
            }
            .image{
                width:90%;
                margin: auto;
            }
            img{
                width:100%;
            }
            .no{
                color:red;
                font-weight: bold;
            }
            .yes{
                color:green;
                font-weight: bold;
            }
        }
    }
}

.sw_women{
    .topper{
        background-color: $star_wars;
        background-image: url('../images/projects/sw_women/topper/desktop-stars.gif');
        color:#F1F2C9;
        h1{
            font-weight: normal;
        }
        .flex{
            max-width: 1200px;
            margin: auto;
            padding-top:16%;
            flex-direction: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
            }
            .inner{
                width: 45%;
                vertical-align: middle;
                height: 100%;
                @media only screen and (max-width: 700px) {
                    width: 95%;
                    text-align: center;
                }
            }
            .blue, .yellow{
                color: $star_wars;
                font-weight: 700;
            }
            .blue{
                background-color: #7D8DBF;
            }
            .yellow{
                background: #F9D59B;
            }
        }
    }
    .darkBG{
        background-color: $star_wars;
        color: #F1F2C9;
    }
    .the-results{
        .image{
            overflow-x: visible;
        }
        img{
            border:1px solid #F1F2C9;
            border-right:1px solid #F1F2C9;
        }
    }
}

.coronavirus{
    .topper{
        background-color: $coronavirus;
        .flex{
            max-width: 1200px;
            margin: auto;
            padding-top:13%;
            flex-direction: wrap;
            justify-content: center;
            align-items: center; 
            @media only screen and (max-width: 700px) {
                margin-top: 15%;
            }
        }
        .inner{
            width: 45%;
            @media only screen and (max-width: 700px) {
                width: 95%;
            }
            h1{
                width:400px;
                padding:20px 0px;
                margin: auto;
                color: white;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                .green{
                    color:#ADC839;
                }
            }
        }
        img{
            width:100%;
        }
    }
    .darkBG{
        background-color: $coronavirus;
        color: #feffff;
    }
}

.casper{
    a{
        color: #4066c0;
    }
    .contain{
        h2::before{
            background-color: #5382EC;
        }
    }

    .goals {
        .desktop-only{
            display: flex!important;
            @media only screen and (max-width: 700px) {
                display: none!important;
            }
        }
        .inner{
            width:23%;
            padding: 0px 1%;
            img{
                width:100%;
            }
            @media only screen and (max-width: 700px) {
                width:100%;
                padding: 0px 0%;
                .mobile-only{
                    max-width:300px;
                    margin:auto;
                    margin-bottom: 60px;
                }
            }
        }
        .image-caption{
            margin-bottom:5px;
            margin-left:20px;
            color:rgb(161, 196, 237);
        }
    }
    .topper{
        background-color: $casper;
        color:white;
        .flex{
            max-width: 1200px;
            margin: auto;
            padding-top:35vh;
            flex-direction: wrap;
            justify-content: center;
            align-items: center; 
            @media only screen and (max-width: 700px) {
                margin-top: 15%;
                padding-top: 10vh;
            }
        }
        .inner.image{
            width:300px;
        }
        .inner{
            width: 45%;
            vertical-align: center;
            @media only screen and (max-width: 700px) {
                width: 95%;
            }
            h1{
                width:400px;
                padding:20px 0px;
                margin: auto;
                color: white;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                @media only screen and (max-width: 700px) {
                    font-size: 63px;
                    border:none;
                    text-align: center;
                }
                span{
                    font-weight: normal;
                    display: inline-block;
                    font-size: 20px;
                    padding: 12px 0px;
                }

            }
        }
        img{
            width:100%;
        }
    }
    // .understand-problem-space .text{
    //     padding-left:0px;
    // }
    .high-level-summary{
        max-width:700px;
        @media only screen and (max-width: 700px) {
            padding-right: 20px;
            padding-left: 20px;
        }
        .inner{
            width:50%;
            @media only screen and (max-width: 700px) {
                width:100%;
            }
        }
        img{
            max-width: 350px;
            display: block;
            margin-left: auto;
        }
        ul{
            margin-left: 20px;
            @media only screen and (max-width: 700px) {
                margin-left: 0px;
            }
        }
        li ul{
            list-style-type:circle;
            margin-left:0px;
            font-size: 13px;
            padding-bottom:5px;
        }
        .summary{
            padding-top:50px;
        }
    }
    .icon{
        width: 12px;
        height: 12px;
        padding: 0px 5px;
    }
    .the-deets h2{
        color:#86a6f0
    }

    .small-img{
        max-width: 300px;
        margin:auto;
        display: block;
    }
    .darkBG{
        background-color: $casper;
        color: #ffffff;
    }

}
.main{
    margin-bottom: 300px;
}
.mobile-only{
    display: none!important;
    height: 0px!important;
    @media only screen and (max-width: 700px) {
        display: block!important;
        height:auto!important;
    }
}

.desktop-only{
    display: block!important;
    height:auto!important;

    @media only screen and (max-width: 700px) {
        display: none!important;
        height: 0px!important;
    }
}

.overflow-hide{
    overflow-x: hidden;
}
.project {
    .topper{
        @media only screen and (max-width: 700px) {
            height: calc(100vh); 
        }
    }
}
.connect-down, .connect-up{
    height: 90px!important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;  
}
.connect-down{
    background-image: url('../images/connect-down.png');
}
.connect-up{
    background-image: url('../images/connect-up.png');
}
