<!doctype html>
<html lang="en">
	<head>
		<title>Swetha Kannan's portfolio - Ocean Game</title>
		<meta name="description" content="Swetha Kannan UX UI Designer Portfolio - Ocean Game">
		<meta name="keywords" content="UX UI Designer Portfolio indian woman user experience human-computer interaction ocean game california">
		<!-- bringing in the style sheet -->
		<link rel="stylesheet" href="../styles/style.css">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

		<link rel="icon" href="../images/favicon.png">

		<!-- Transfering in a google font Open Sans, Free for all use -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body class = "casper project">
	<!-- Navigation at the top of the page which is reflected in all pages. Tutorial used: https://www.w3schools.com/howto/howto_js_topnav.asp -->
		<nav class = "topNav">
			<a href="../../index.html" class = "left desktop-only">Swetha Kannan<span class = "title">UX/UI Designer</span></a>
			<a href="#contact">Connect</a>
			<a href="../../index.html#portfolio">Projects</a>
			<a href="../../index.html">About</a>
		</nav>
		<!-- This is our 'heroic' topper -->
		<div class = "topper">
			<div class = "flex">
				<div class = "inner image"><img alt = "topper shows screenshots of the dashboard that shows data seperated into charts and maps" src = "../images/projects/casper/homepage.jpg"></div>
				<div class = "inner">
					<h1>Casper <span>Bringing full transparency to reporting online content</span></h1>
					</div>
			
			</div>
		</div>

			<!-- Here is where the actual content of the page should go -->
			<div class = "high-level-summary">
					<h2 data-aos="fade">Overview</h2>
					<div data-aos="fade-up" >
						<p>Every minute of the day, more than 500,000 pictures are shared on snapchat, over 400,000 tweets are sent, and over 40,000 pictures are shared on instagram. Who’s monitoring all this content?</p>
						<p>We look to everyday users to help regulate it by researching what designs we can employ to encourage them to report online content that they find biased or offensive. This will help identify and combat undesirable content earlier.</p>
						<p>Our research culminated with the proposed solution ‘CASPER’: a transparent content reporting process that includes a straightforward and easy to understand reporting content and give high-quality feedback to users. </p>
					</div>
					<div style = "height: 70px;"></div>
					<div class = "flex">
						<div data-aos="fade-right" class = "inner image desktop-only overflow-hide">
							<img alt = "view of the webpage on mobile." src = "../images/projects/casper/mobile/mobile1.png">
						</div>
						<div data-aos="fade-left" class = "inner text overflow-hide">
							<ul>
								<li><label>My role:</label>UX Researcher, Data lead</li>
								<!-- <li><label>Team:</label>Swetha Kannan<ul><li>UX Researcher, Data lead</li></ul>Amanda Piccolini <ul><li>UX Researcher, Design lead</li></ul>Ron Chew<ul><li>UX Researcher, Schedule manager</li></ul>Nadia Susanto<ul><li>UX Researcher, Deliverable manager</li></ul>Vera Wei <ul><li>UX Researcher, Copy writer</li></ul></li> -->
								<li><label>Year:</label>2021</li>
								<li><label>Methods:</label><nobr>Think-alound testing</nobr>, <nobr>Affinity diagraming</nobr>, <nobr>Speed Dating</nobr>, <nobr>Stakeholder Map</nobr>, <nobr>Contextual Interview</nobr>, <nobr>User empathy map</nobr></li>
							</ul>
						</div>
					</div>
				
			</div>

			<!-- Here is where first bar for the problem space goes-->
			<div class = "the-deets darkBG">
				<div class = "flex">
					<div data-aos="fade-down" class = "stakeholders inner">
						<h2>Stakeholder</h2>
						<h3>Researchers at CMU</h3>
						<p>The project built off and informed previous work done by Motahhare Eslami, Ken Holstein, Jason Hong, Hong Shen, and others who are researching algorithmic bias as it relates to design.</p>
					</div>
					<div data-aos="fade-up" class = "problem-space inner">
						<h2>Problem Space</h2>
						<h3>Encourage users to report</h3>
						<p>Our research looked it how we might motivate or facilitate users of online platforms to effectively recognize and report algorithmic bias.</p>
					</div>
					<div data-aos="fade-down" class = "solution inner">
						<h2>Solution</h2>
						<h3>transparent content-reporting process</h3>
						<p>After users report a piece of content, we found that they are more likely to continue to do so if they are provided feedback which helps them better recognize the value and impact of their report.</p>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we understand the problem space -->
			<div class = "understand-problem-space">
				<div class = "contain">
					<h2 data-aos="fade-left" class = "overflow-hide">Understanding the problem Space</h2>
					<div data-aos="fade-left" class = "flex overflow-hide">
						<div class = "image inner">
							<p>We first used used a <b>think-aloud method</b> to research the problem space. We had 5 users navigate Youtube and observed the process in which they filtered content, flagged videos, etc.</p>
							<div >
								<img alt = "screenshot of a screen showing user clicking beside a video to see the 'not interested' button." src = "../images/projects/casper/image1.png">
								<p class = "image-caption">We found that most users who knew to look for it, prefered to click the 'not interested' button.</p>
							</div>
						</div>
						<div data-aos="fade-right"  class = "text inner">
							<h3>Takeaways</h3>
							<ul class = "numbered">
								<li>Users are more willing to report offensive content if the steps required for the interaction are clear.</li>
								<li>Users understand that the content presented to them is the result of an algorithm</li>
								<li>Many users are passive participants in their YouTube experience. (i.e. rarely filter content)</li>
							</ul>
						</div>
					</div>
					<div data-aos="fade-up" class = "flex overflow-hide add-top">
						<div data-aos="fade-left" class = "inner overflow-hide">
							<p>Afterwards, we used contextual inquiry methods, <b>directed storytelling and artifact analysis</b>, to find out how 5 different users interacted with online platforms in their daily life. We were particularly interested in how they filter their content, to what degree they were aware of the algorithm, and how often they reported or took action beyond disliking something.</p>
							<p>We created a user <b>empathy map</b> to better inderstand our users after speaking with them. We also employed <a href = "https://miro.com/app/board/o9J_lj8jiI8=/?invite_link_id=342336958721"><b>affinity diagraming</b><img class = "icon" alt = "icon of a link out sign" src = "../images/icons/link.svg"></a>to compare all our interviews and draw our conclusions.</p>
							<a href = "https://miro.com/app/board/o9J_lj8jiI8=/?invite_link_id=342336958721">
								<img alt = "screenshot shows affinity diagram made via Miro that helped us draw three main takeaways from our round of interviews" src = "../images/projects/casper/image2.png">
							</a>
							<p class = "image-caption">Diagram built in Miro shows how we used various observations (notes in yellow) to draw three main conclusions from our interviews.</p>
						</div>
						<div data-aos="fade-right" class = "text inner">
							<h3>Takeaways</h3>
							<ul class = "numbered">
								<li>Users have significant control / agency in online spaces</li>
								<li>Certain factors undermine users' trust and control in online spaces</li>
								<li>Previous experiences influence online behavior</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-up"></div>
			<!-- this is where the goals are specified -->
			<div class = "goals darkBG">
				<div data-aos="fade-right" class = "contain overflow-hide">
					<h2>INSIGHTS AND EVIDENCE</h2>
					<div class = "flex">
						<div class = "inner">
							<p>Users usually don’t receive feedback on what happens after they report, leading to uncertainty around the report’s impact and lack of incentive to do future reports.</p>
							<img class = "mobile-only" alt = "User text bubble says 'I wonder all the time if the company’s actually doing anything after I report content 😕'" src = "../images/projects/casper/bubble1.png">
						</div>
						<div class = "inner">
							<p>Users are more willing to report online content if they receive adequate information and guidance on how to do so. </p>
							<img class = "mobile-only" alt = "User text bubble says 'I still don’t know the difference between “Report” versus “Not Interested” 🤔'" src = "../images/projects/casper/bubble2.png">
						</div>
						<div class = "inner">
							<p>Users who proactively tailor their online platform content (through settings or purposeful interaction) are more satisfied with suggested content.</p>
							<img class = "mobile-only" alt = "User text bubble says 'My feed feels more personalized after I like or search for content that interests me ❤️'" src = "../images/projects/casper/bubble3.png">
						</div>
						<div class = "inner">
							<p>Users often interact differerently with online content based on other users’ behaviors and attitudes</p>
							<img class = "mobile-only" alt = "User text bubble says 'I hesitate because I don’t want to be the first or only person to report a post 👉👈 '" src = "../images/projects/casper/bubble4.png">
						</div>
					</div>
					<div class = "flex desktop-only">
						<div class = "inner">
							<p class = "image-caption">User quote</p>
							<img alt = "User text bubble says 'I wonder all the time if the company’s actually doing anything after I report content 😕'" src = "../images/projects/casper/bubble1.png">
						</div>
						<div class = "inner">
							<p class = "image-caption">User quote</p>
							<img alt = "User text bubble says 'I still don’t know the difference between “Report” versus “Not Interested” 🤔'" src = "../images/projects/casper/bubble2.png">
						</div>
						<div class = "inner">
							<p class = "image-caption">User quote</p>
							<img alt = "User text bubble says 'My feed feels more personalized after I like or search for content that interests me ❤️'" src = "../images/projects/casper/bubble3.png">
						</div>
						<div class = "inner">
							<p class = "image-caption">User quote</p>
							<img alt = "User text bubble says 'I hesitate because I don’t want to be the first or only person to report a post 👉👈 '" src = "../images/projects/casper/bubble4.png">
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we explain process -->
			<div class = "the-process">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Ideation</h2>
					<div data-aos="fade-left" class = "flex overflow-hide">
						<div class = "image inner">
							<p>After getting a better understanding of our users, we used <b>speed dating</b> to test out multiple solutions we storyboarded to see which solutions users connected with. We made over a dozen boards and tested them with 5 users.</p>
							<div >
								<img alt = "All 15 storyboards we tested." src = "../images/projects/casper/image3.png">
								<p class = "image-caption">A layout of all 15 storyboards we tested. Each of us came up with 3 boards to address a specific insight we had from our user research.</p>
							</div>
						</div>
						<div data-aos="fade-right"  class = "text inner">
							<h3>We found that:</h3>
							<ul class = "numbered">
								<li>Users interviewed liked having quick signals to indicate severity but would not go through a separate tutorial or exit from their current experience.</li>
								<li>Users mentioned having had the need to look at comments to ascertain if their disagreement of a piece of content is valid. However, they expressed concerns about having their own reports being visible to other people.</li>
								<li>Users were familiar with the idea of “raising a support ticket” and responded well to that concept being applied to a reporting workflow.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-up"></div>
			<!-- last section of our page -->
			<div class = "the-results darkBG">
				<div class = "line"></div>
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Proposed solution: Casper</h2>
					
					<div class = "flex">
						<div data-aos="fade-right" class = "image inner overflow-hide">
							<img alt = "screens of a mobile solution that allows users to track the progress of their report similar to how they might track a package." src = "../images/projects/casper/image4.png">
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<p class = "first">We envision a transparent content-reporting process that is straightforward and easy to understand or follow.  After users report a piece of content, they can opt to receive updates on the status of their report, the actions that the online platform is taking as a result, etc. </p>
							<p>Based on our research so far, we anticipate that a solution like this will help users better recognize the value and impact of their feedback, thus motivating them to continue reporting. </p>
							<p>Overall, our solution is:</p>
							<ul class = "numbered">
								<li><b>Transparent:</b> Explicitly informs users about what happens or what to expect after they report content</li>
								<li><b>Communicative:</b> Notifies users about updates in the report process </li>
								<li><b>Communal:</b> Shows users that they’re not alone in the reporting process</li>
							</ul>
						</div>
					</div>
				</div>
			</div>



			<!-- Here is contact info, repeated in every page -->
			<div id="contact" class = "imageSet darkBG">
				<h2>Let's connect</h2>
				<nav class = "flex">
					<a class = "inner" alt = 'Link to my instagram' href="https://www.instagram.com/limedumplr/"><img class="icon" src="../images/icons/instagram.svg" alt = "instagram icon" ><p>Instagram</p></a>
					<a class = "inner" alt = 'Link to my github' href="https://github.com/swethakan"><img class="icon" src="../images/icons/github.svg" alt = "github icon" ><p>Github</p></a>
					<a class = "inner" alt = 'Link to my twitter' href="https://twitter.com/swetha_kan"><img class="icon" src="../images/icons/twitter.svg" alt = "twitter icon" ><p>Twitter</p></a>
					<a class = "inner" alt = 'Link to my linkedin' href="https://www.linkedin.com/in/swetha-kannan-b5a14791/"><img class="icon" src="../images/icons/linkedin.svg" alt = "linkedIn icon" ><p>Linkedin</p></a>
				</nav>
			</div>

	</body>
	<footer>
		<!-- Now loading in the javascript to add functionality. -->
		<!-- Now loading in the javascript to add functionality. -->
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
	</footer>
</html>