<!doctype html>
<html lang="en">
	<head>
		<title>Swetha Kannan's portfolio - Ocean Game</title>
		<meta name="description" content="Swetha Kannan UX UI Designer Portfolio - Ocean Game">
		<meta name="keywords" content="UX UI Designer Portfolio indian woman user experience human-computer interaction ocean game california">
		<!-- bringing in the style sheet -->
		<link rel="stylesheet" href="../styles/style.css">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

		<link rel="icon" href="../images/favicon.png">

		<!-- Transfering in a google font Open Sans, Free for all use -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body class = "coronavirus project">
	<!-- Navigation at the top of the page which is reflected in all pages. Tutorial used: https://www.w3schools.com/howto/howto_js_topnav.asp -->
		<nav class = "topNav">
			<a href="../../index.html" class = "left desktop-only">Swetha Kannan<span class = "title">UX/UI Designer</span></a>
			<a href="#contact">Connect</a>
			<a href="../../index.html#portfolio">Projects</a>
			<a href="../../index.html">About</a>
		</nav>
		<!-- This is our 'heroic' topper -->
		<div class = "topper">
			<div class = "flex">
				<div class = "inner"><img alt = "topper shows screenshots of the dashboard that shows data seperated into charts and maps" src = "../images/projects/coronavirus/topper/desktop.jpg"></div>
				<div class = "inner"><h1 data-aos="fade-up">Tracking the <span class = "green">coronavirus</span> in  California</h1><p><a href = "https://www.latimes.com/projects/california-coronavirus-cases-tracking-outbreak/">Read the story >></a></p></div>
			</div>
		</div>

			<!-- Here is where the actual content of the page should go -->
			<div class = "high-level-summary">
					<h2 data-aos="fade">Overview</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "inner image desktop-only overflow-hide">
							<img alt = "view of the webpage on mobile." src = "../images/projects/coronavirus/mobile/mobile1.jpg">
						</div>
						<div data-aos="fade-left" class = "inner text overflow-hide">
							<ul>
								<li><label>My role:</label>UX Design, data visualization, research</li>
								<li><label>Team:</label>Spanned across many newsrooms and university classrooms in California. Core team consisted of thos at the LATimes’ Data and Graphics Desk</li>
								<li><label>Year:</label>2020 - 2021</li>
								<li><label>Stakeholders:</label>Los Angeles Times</li>
								<li><label>Skills:</label>Reporting<br>Data Visualization<br>Hi-fi Mock-up<br>Stakeholder Management</li>
							</ul>
						</div>
					</div>
			</div>

			<!-- Here is where first bar for the problem space goes-->
			<div class = "the-deets darkBG">
				<div class = "flex">
					<div data-aos="fade-down" class = "stakeholders inner">
						<h2>Users</h2>
						<h3>Readers of the <nobr>Los Angeles Times</nobr></h3>
						<p>At the start of the pandemic, the Los Angeles Times needed a central location to host and distribute all data we acquired about the state of the virus in California.</p>
					</div>
					<div data-aos="fade-up" class = "problem-space inner">
						<h2>Problem Space</h2>
						<h3>Find, visualize, and distribute data</h3>
						<p>The dashboards, visuals, etc. had to be easy for regular users to understand. We sorted through large sets of data designed pages to easily showcase it to our readers.</p>
					</div>
					<div data-aos="fade-down" class = "solution inner">
						<h2>Solution</h2>
						<h3>Series of dashboards</h3>
						<p>Created a single high level dashboard and detailed dashboards for specific user needs.</p>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we understand the problem space -->
			<div class = "understand-problem-space">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Understanding the problem Space</h2>
					<div data-aos="fade-right" class = "flex overflow-hide">
						<div class = "image inner">
							<h3 class = "takeaways">Competitive analysis</h3>
							<img alt = "screenshot of the front page of the California's department of love." src = "../images/projects/coronavirus/image1.png">
							<p class = "image-caption">We filtered information given to is by the California Department of Public Health. (Swetha Kannan / Los Angeles Times)</p>
							<p class = "first">We had to get the initial page up within 3 days of starting our work on the tracker. California had started whispers of possibly going into lockdown and as it became a very real possibility, we rushed to mockup the dashboard in Adobe XD, <b>analyze how competitors</b> like the New York Times are visualizing similar data, talk to the California Department of Public Health to gather data, and publish the dashboard.</p>
							

						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<h3>Key Insights</h3>
							<ul class = "numbered">
								<li><b>Use mild colors - </b>Most competitors avoided using alarming colors such as red or orange. We agreed that this was good practice.<br><br><b class = "result">Result:</b> We changed out mockups and used greys and blues for most of the data visualizations on this dashboard.
								<img alt = "Hi-fi mockup using orange and yellow colors." src = "../images/projects/coronavirus/image2.jpg" style = "max-width:400px;margin:auto;display:block;">
								<p style = "text-align: center;padding-top:10px" class = "image-caption">Hi-fi mockup created using Abode XD (Swetha Kannan / Los Angeles Times)</p>
								</li>

								<li><b>Data flow between county and state - </b>California provided a count of cases across the state but each individual county provided seperate counts as well.<br><br><b class = "result">Result:</b> We found that the state updated numbers only once per day and, for easier maintenance, elected to use those numbers.</li>
								<li class = "last"><b>Bay area had the most cases - </b>Because of an outbreak in a cruise ship, most cases were in the Bay area. <br><br><b class = "result">Result:</b>We created a map centered on just this location. Later, this became irrelevant as the whole state's cases grew.</li>
							</ul>
							
						</div>
					</div>
					
				</div>
			</div>

			<div class="mobile-only connect-up"></div>
			<!-- this is where the goals are specified -->
			<div class = "goals darkBG">
				<div data-aos="fade-right" class = "contain overflow-hide">
					<h2>Goals</h2>
					<p>To provide California residents with an informative, convenient, and honest look at the State’s coronavirus data for the duration of the pandemic. </p>
					<p>After we published in March 2020, we contributed various improvements and expansions for the duration of the pandemic.</p>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we explain process -->
			<div class = "the-process">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Improvements</h2>
					<div data-aos="fade-right" class = "flex overflow-hide">
						<div class = "image inner">
							<h3 class = "takeaways">Changes from user & expert feedback</h3>
							<p>Initially, we published with only the state’s coronavirus data but as we continued to <b>interview with county officials</b> about the quality of data that was released. We also had <b>user feedback</b> based on our first iteration about features they wanted on the coronavirus tracker. </p>
							<img alt = "screenshots of a county-level map and a zipcode-by-zipcode level map show how we changed the data to be granular in response to user needs" src = "../images/projects/coronavirus/image1-1.jpg">
							<br><p>Due to user demand, line charts were added that showed the total amount of cases or numbers adjusted for population.</p>
							<img alt = "screenshots of a county-level map and a zipcode-by-zipcode level map show how we changed the data to be granular in response to user needs" src = "../images/projects/coronavirus/image2-2.png">
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">

							<h3>Key Insights</h3>
							<ul class = "numbered">
								<li><b>Resolve multiple sources of information - </b>There was a gap between the information that the county and information from the state. Many users were confused what to trust. <br><br><b class = "result">Result:</b> We made the decision to start using county data for more accurate and granular information.</li>
								<li> <b>More detailed maps - </b>Users wanted more granualar information such as the coronavirus cases in their specific location. <br><br><b class = "result">Result:</b> We pressed county officials for this information and, when it was available, created a map of cases seperated by Zipcode.</li>
								<li class = "last"><b>Adjust numbers for population - </b>Users wanted to see how numbers compared between counties and major cities. As the state of the pandemic became worse and the numbers became larger, population adjustment was also needed for clarity.<br><br><b class = "result">Result:</b> We added a line chart that adjusted for population and showed the trajectory of each C.A. county.</li>
							</ul>
						</div>
					</div>

					<div class = "flex">
						<div data-aos="fade-right" class = "image inner overflow-hide">
							<!-- <img alt = "map shows the distribution of coronavirus cases over california" src = "../images/projects/coronavirus/image3.jpg">
							<p class = "image-caption">Bubble map styling using MapBox. (Swetha Kannan / Los Angeles Times)</p> -->
							<h3>Ongoing Maintenance</h3>
							<p class = "first">To create the graphics on the page, we used a variety of javascript libraries -- most notably D3. The interactive city map on the page was made using Nearmap and the Nearmap API. Beyond the visuals, the page also uses python scrapers that grabs information from a google sheet where we tracked the growth of the virus across California. This scraper was able to easily update our page through just a few terminal commands.</p>
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<h3 style = "color:white;">Continued</h3>
							
							<p>This page was updating at a minimum about 4 times a day from publishing in March until now. To do this, we set up an extensive backend to the webpage including scrapers that helped us scrape government websites for the latest numbers on the virus, manual scheduled to review these sites daily, and also an unprecedented effort to combine this tracking effort with newsrooms across the state including the San Francisco Chronicle.</p>
							
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-up"></div>
			<!-- this is where the goals are specified -->
			<div class = "design-considerations darkBG">
				<div data-aos="fade-down" class = "contain overflow-hide">
					<h2>Design considerations</h2>
					<div class = "flex">
						<div  class = "solution inner">
							<h3>Engaging data visualizations</h3>
							<p>Large amounts of data needed to be presented clear ways that allowed readers to quickly scan the dashboard.</p>
						</div>
						<div  class = "stakeholders inner">
							<h3>Responsive design</h3>
							<p>The page needed to perform well on all platforms, since over 40% of the Times' audience at the time used mobile devices to access the site.</p>
						</div>
						<div  class = "problem-space inner">
							<h3>Consistent visuals across pages</h3>
							<p>All 50+ dashboards needed to follow the same visual langage that also resonated with the brand image of the Times.</p>
						</div>
					</div>
				</div>
			</div>

			

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we explain process -->
			<div class = "the-process">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Design process</h2>
					<h3>Engaging data visualizations</h3>

					<h3>Responsive design</h3>

					<h3>Consistent visuals across pages</h3>
				</div>
			</div>


			<div class="mobile-only connect-up"></div>
			<!-- last section of our page -->
			<div class = "the-results darkBG">
				<div class = "line"></div>
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">The results</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "image inner overflow-hide">
							<img alt = "view of the initial desktop screen of the webpage" src = "../images/projects/coronavirus/image4.jpg">
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<p class = "first">The story published in March of 2020. It is still being updated.</p>
							<p>This page was hugely popular among both subscribers and non-subscribers alike. For the first few months of the pandemic, it had over thousands of people on the page at any single time, pulling in record-breaking numbers of pageviews and subscribers for the Times. For all the months of the pandemic, the page consistently proved popular with our subscribers.</p>
							<p><a href = "https://www.latimes.com/projects/california-coronavirus-cases-tracking-outbreak/">Read the story >></a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- All my awards! So proud -->
			<div class = "awards darkBG">
				<h2 data-aos="fade">Awards</h2>
				<div class = "all">
					<div data-aos="fade-up" class="award flex">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
						<div class = "inner text"><p>2020 California Online Journalism Awards, 1st place in Informational Journalism</p></div>
					</div>
				</div>

			</div>


			<!-- Here is contact info, repeated in every page -->
			<div id="contact" class = "imageSet darkBG">
				<h2>Let's connect</h2>
				<nav class = "flex">
					<a class = "inner" alt = 'Link to my instagram' href="https://www.instagram.com/limedumplr/"><img class="icon" src="../images/icons/instagram.svg" alt = "instagram icon" ><p>Instagram</p></a>
					<a class = "inner" alt = 'Link to my github' href="https://github.com/swethakan"><img class="icon" src="../images/icons/github.svg" alt = "github icon" ><p>Github</p></a>
					<a class = "inner" alt = 'Link to my twitter' href="https://twitter.com/swetha_kan"><img class="icon" src="../images/icons/twitter.svg" alt = "twitter icon" ><p>Twitter</p></a>
					<a class = "inner" alt = 'Link to my linkedin' href="https://www.linkedin.com/in/swetha-kannan-b5a14791/"><img class="icon" src="../images/icons/linkedin.svg" alt = "linkedIn icon" ><p>Linkedin</p></a>
				</nav>
			</div>

	</body>
	<footer>
		<!-- Now loading in the javascript to add functionality. -->
		<!-- Now loading in the javascript to add functionality. -->
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
	</footer>
</html>