<!doctype html>
<html lang="en">
	<head>
		<title>Swetha Kannan's portfolio - Ocean Game</title>
		<meta name="description" content="Swetha Kannan UX UI Designer Portfolio - Ocean Game">
		<meta name="keywords" content="UX UI Designer Portfolio indian woman user experience human-computer interaction ocean game california">
		<!-- bringing in the style sheet -->
		<link rel="stylesheet" href="../styles/style.css">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

		<link rel="icon" href="../images/favicon.png">

		<!-- Transfering in a google font Open Sans, Free for all use -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body class = "coronavirus project">
	<!-- Navigation at the top of the page which is reflected in all pages. Tutorial used: https://www.w3schools.com/howto/howto_js_topnav.asp -->
		<nav class = "topNav">
			<a href="../../index.html" class = "left desktop-only">Swetha Kannan<span class = "title">UX/UI Designer</span></a>
			<a href="#contact">Connect</a>
			<a href="../../index.html#portfolio">Projects</a>
			<a href="../../index.html">About</a>
		</nav>
		<!-- This is our 'heroic' topper -->
		<div class = "topper">
			<div class = "flex">
				<div class = "inner"><img alt = "topper shows screenshots of the dashboard that shows data seperated into charts and maps" src = "../images/projects/coronavirus/topper/desktop.jpg"></div>
				<div class = "inner"><h1 data-aos="fade-up">Tracking the <span class = "green">coronavirus</span> in  Californaia</h1></div>
			</div>
		</div>

			<!-- Here is where the actual content of the page should go -->
			<div class = "high-level-summary">
					<h2 data-aos="fade">Overview</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "inner image desktop-only overflow-hide">
							<img alt = "view of the webpage on mobile." src = "../images/projects/coronavirus/mobile/mobile1.jpg">
						</div>
						<div data-aos="fade-left" class = "inner text overflow-hide">
							<ul>
								<li><label>Role:</label>UX Design, data visualization, research</li>
								<li><label>Team:</label>Spanned across many newsrooms and university classrooms in California. Core team consisted of thos at the LATimes’ Data and Graphics Desk</li>
								<li><label>Year:</label>2020 - 2021</li>
								<li><label>Skills:</label>Reporting<br>Data Visualization<br>Hi-fi Mock-up<br>Stakeholder Management</li>
							</ul>
						</div>
					</div>
			</div>

			<!-- Here is where first bar for the problem space goes-->
			<div class = "the-deets darkBG">
				<div class = "flex">
					<div data-aos="fade-down" class = "stakeholders inner">
						<h2>Stakeholder</h2>
						<h3>Los Angeles Times</h3>
						<p>At the start of the pandemic, the Los Angeles Times needed a central location to host and distribute all data we acquired about the state of the virus in California.</p>
					</div>
					<div data-aos="fade-up" class = "problem-space inner">
						<h2>Problem Space</h2>
						<h3>Find, visualize, and distribute data</h3>
						<p>We worked with over 50 county agencies in California to gather comprehensive data about the state. We had to design our dashboard, visuals, and more to make it easy for regular users to understand what the data means.</p>
					</div>
					<div data-aos="fade-down" class = "solution inner">
						<h2>Solution</h2>
						<h3>Series of dashboards</h3>
						<p>We seperated the information into multiple dashboards specifically for people concerned about the state’s unemployment statistics, the state of reopenings, racial inequity, etc. Our main dashboard was one that tracked infections.</p>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we understand the problem space -->
			<div class = "understand-problem-space">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Understanding the problem Space</h2>
					<div data-aos="fade-right" class = "flex overflow-hide">
						<div class = "image inner">
							<img alt = "screenshot of the front page of the California's department of love." src = "../images/projects/coronavirus/image1.png">
							<p class = "image-caption">We filtered information given to is by the California Department of Public Health. (Swetha Kannan / Los Angeles Times)</p>
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<p class = "first">We had to get the initial page up within 3 days of starting our work on the tracker. California had started whispers of possibly going into lockdown and as it became a very real possibility, we rushed to mockup the dashboard in Adobe XD, analyze how competitors like the New York Times are visualizing tsimilar data, talk to the California Department of Public Health to gather data, and publish the dashboard.</p>
							<p>Initially, we published with only the state’s coronavirus data but as we continued to talk to county officials, we found that there was a huge gap between the information that the county has and the outdated information of the state. Because fo this, we made the decision to start using county data for more accurate information.</p>
							<p>After publishing the initial dashboard, we had a rush of reader feedback asking for this or that feature. It would have been too much to implement into a single page and therefore we began seperating out the dashboard into ultiple different pages.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-up"></div>
			<!-- this is where the goals are specified -->
			<div class = "goals darkBG">
				<div data-aos="fade-right" class = "contain overflow-hide">
					<h2>Goals</h2>
					<p>After we published in March 2020, we contributed various improvements and expansions for the duration of the pandemic.</p>
					<p>We wanted to provide California residents with an informative, convenient, and honest look at the State’s coronavirus data for the duration of the pandemic. </p>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we explain process -->
			<div class = "the-process">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">The process</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "image inner overflow-hide">
							<img alt = "Hi-fi mockup using orange and yellow colors." src = "../images/projects/coronavirus/image2.jpg">
							<p class = "image-caption">Hi-fi mockup created used Abode XD (Swetha Kannan / Los Angeles Times)</p>
							<img alt = "map shows the distribution of coronavirus cases over california" src = "../images/projects/coronavirus/image3.jpg">
							<p class = "image-caption">Bubble map styling using MapBox. (Swetha Kannan / Los Angeles Times)</p>
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<p class = "first">To create the graphics on the page, we used a variety of javascript libraries -- most notably D3. The interactive city map on the page was made using Nearmap and the Nearmap API. Beyond the visuals, the page also uses python scrapers that grabs information from a google sheet where we tracked the growth of the virus across California. This scraper was able to easily update our page through just a few terminal commands.</p>
							<p>To initially design the page, we used Adobe XD to mockup our ideas.</p>
							<p>This page was updating at a minimum about 4 times a day from publishing in March until now. To do this, we set up an extensive backend to the webpage including scrapers that helped us scrape government websites for the latest numbers on the virus, manual scheduled to review these sites daily, and also an unprecedented effort to combine this tracking effort with newsrooms across the state including the San Francisco Chronicle. </p>
							<p>My major contributions were the topper, summary box, city and county map, maintenance of the data, and generally helping others in the production and upkeep of the page.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-up"></div>
			<!-- last section of our page -->
			<div class = "the-results darkBG">
				<div class = "line"></div>
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">The results</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "image inner overflow-hide">
							<img alt = "view of the initial desktop screen of the webpage" src = "../images/projects/coronavirus/image4.jpg">
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<p class = "first">The story published in March of 2020. It is still being updated.</p>
							<p>This page was hugely popular among both subscribers and non-subscribers alike. For the first few months of the pandemic, it had over thousands of people on the page at any single time, pulling in record-breaking numbers of pageviews and subscribers for the Times. For all the months of the pandemic, the page consistently proved popular with our subscribers.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- All my awards! So proud -->
			<div class = "awards darkBG">
				<h2 data-aos="fade">Awards</h2>
				<div class = "all">
					<div data-aos="fade-up" class="award flex">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
						<div class = "inner text"><p>2020 California Online Journalism Awards, 1st place in Informational Journalism</p></div>
					</div>
				</div>

			</div>


			<!-- Here is contact info, repeated in every page -->
			<div id="contact" class = "imageSet darkBG">
				<h2>Let's connect</h2>
				<nav class = "flex">
					<a class = "inner" alt = 'Link to my instagram' href="https://www.instagram.com/limedumplr/"><img class="icon" src="../images/icons/instagram.svg" alt = "instagram icon" ><p>Instagram</p></a>
					<a class = "inner" alt = 'Link to my github' href="https://github.com/swethakan"><img class="icon" src="../images/icons/github.svg" alt = "github icon" ><p>Github</p></a>
					<a class = "inner" alt = 'Link to my twitter' href="https://twitter.com/swetha_kan"><img class="icon" src="../images/icons/twitter.svg" alt = "twitter icon" ><p>Twitter</p></a>
					<a class = "inner" alt = 'Link to my linkedin' href="https://www.linkedin.com/in/swetha-kannan-b5a14791/"><img class="icon" src="../images/icons/linkedin.svg" alt = "linkedIn icon" ><p>Linkedin</p></a>
				</nav>
			</div>

	</body>
	<footer>
		<!-- Now loading in the javascript to add functionality. -->
		<!-- Now loading in the javascript to add functionality. -->
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
	</footer>
</html>