<!doctype html>
<html lang="en">
	<head>
		<title>Swetha Kannan's portfolio - Ocean Game</title>
		<meta name="description" content="Swetha Kannan UX UI Designer Portfolio - Ocean Game">
		<meta name="keywords" content="UX UI Designer Portfolio indian woman user experience human-computer interaction ocean game california">
		<!-- bringing in the style sheet -->
		<link rel="stylesheet" href="../styles/style.css">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

		<link rel="icon" href="../images/favicon.png">

		<!-- Transfering in a google font Open Sans, Free for all use -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body class = "ocean_game project">
	<!-- Navigation at the top of the page which is reflected in all pages. Tutorial used: https://www.w3schools.com/howto/howto_js_topnav.asp -->
		<nav class = "topNav">
			<a href="../../index.html" class = "left desktop-only">Swetha Kannan<span class = "title">UX/UI Designer</span></a>
			<a href="#contact">Connect</a>
			<a href="../../index.html#portfolio">Projects</a>
			<a href="../../index.html">About</a>
		</nav>
		<!-- This is our 'heroic' topper -->
		<div class = "topper">
			<div class = "center"><h1 data-aos="fade-up">Sea Levels are rising.<br>Can you save L.A.'s coastal cities?</h1><p><a href = "https://www.latimes.com/projects/la-me-climate-change-ocean-game/">Play the game >></a></p></div>
		</div>

			<!-- Here is where the actual content of the page should go -->
			<div class = "high-level-summary">
					<h2 data-aos="fade">Overview</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "inner image desktop-only overflow-hide">
							<img alt = "view of the webpage on mobile" src = "../images/projects/beaches/mobile/mobile1.jpg">
						</div>
						<div data-aos="fade-left" class = "inner text overflow-hide">
							<ul>
								<li><label>My role:</label>Design Lead & Front-end Developer</li>
								<li><label>Team:</label>Design Lead, Reporter, Developer (myself and one other)</li>
								<li><label>Year:</label>2018 - 2019</li>
								<li><label>Stakeholders:</label>Los Angeles Times</li>
								<li><label>Skills:</label>Reporting<br>Game Design<br>Hi-fi Mock-up<br>Mid-fi Mock-up<br>Product Management</li>
							</ul>
						</div>
					</div>
			</div>
			<!-- Here is where first bar for the problem space goes-->
			<div class = "the-deets darkBG">
				<div class = "flex">
					<div data-aos="fade-down" class = "stakeholders inner">
						<h2>Users</h2>
						<h3>Readers of the <nobr>Los Angeles Times</nobr></h3>
						<p>This was the second in a 2-part investigation into the California coastline. The story was in production for more than a year and published late 2019.</p>
					</div>
					<div data-aos="fade-up" class = "problem-space inner">
						<h2>Problem Space</h2>
						<h3>Create a news game</h3>
						<p>We were tasked with creating a news game that explains why coastal communities dealing with rising sea levels cannot easily address the problem.</p>
					</div>
					<div data-aos="fade-down" class = "solution inner">
						<h2>Solution</h2>
						<h3>Text adventure</h3>
						<p>The game put players in the shoes of power and had them try moving residents away from the coastline. Though this, the user can develop empathy for coastal communities.</p>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we understand the problem space -->
			<div class = "understand-problem-space">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Understanding the problem Space</h2>
					<div data-aos="fade-right" class = "flex overflow-hide">
						<div class = "image inner">
							<h3>Interview & synthesis</h3>

							<p class = "first">Rosanna Xia, a reporter at the Los Angeles Times, was introduced to this problem space through her beat as an environmental reporter. Rosanna conducted <b>interviews</b> a variety of environmentalists, beach-goers, homeowners who had beachside properties and more. Together, her and Editor, Ben Muessig, created a <b>concept map</b> about what they felt a newsgame could be.</p>
							<img alt = "Post it notes stuck onto a wall which we used to brainstorm" src = "../images/projects/beaches/image2.jpg">
							<p class = "image-caption">Diagrams show initial mockups of how game could progress (Swetha Kannan, Rosanna Xia / Los Angeles Times)</p>



						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<h3>Key Insights</h3>
							<ul class = "numbered">
								<li><b>Current State - </b>Professionals combat rising sea levels by adding sand to beaches, creating rock walls, or moving coastal communities inland.<br><br><b class = "result">Result:</b> Players can employ all these solutions in the game</li>
								<li><b>Stakeholders - </b>There are multiple stakeholders in this argument such as beach-goers, scientists, homeowners, and more.<br><br><b class = "result">Result:</b> Characters were added to represent stakeholders who provided mulitple perspectives.</li>
								<li class = "last"><b>Moving coastal communities - </b>Often, money is not enough to convince coastal communities to relocate.<br><br><b class = "result">Result:</b> The main objective of the game became finding out what <i>will</i> convince communities to move.</li>
							</ul>
						</div>

					</div>
					<div data-aos="fade-right" class = "flex overflow-hide">
						<div class = "image inner">
							<h3 class = "takeaways">Competitive analysis</h3>
							<img alt = "screenshot of the Financial Times' Uber story which took the form of a game" src = "../images/projects/beaches/image2-2.jpg">
							<p class = "image-caption">The Uber Game by the Financial Times was a huge inspiration for us.</p>
							<p>Meanwhile, Terry Castleman and I also assessed the state of newsgames at the time by doing <b>market research</b> into the existing landscape. We found what worked and what did not and also observed what tools other newsrooms used to envoke empathy.</p>
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<h3>Key Insights</h3>
							<ul class = "numbered">
								<!-- <li><b>Create a story: </b>Many successful newsgames that function similar to text adventures.<br><br><b class = "result">Result:</b> We made our game have a branching narrative with multiple endings.</li> -->
								<li><b>Show value exchange: </b>Some newsgames turn money, effort, etc. into a points system. This worked to demonstrate the value flows in any particular situation.<br><br><b class = "result">Result:</b> We used existing money flows to model similar flows in the game.</li>
								<li class = "last"><b>Skip tutorials: </b>Newsgames with too much tutorials often lose audience interest.<br><br><b class = "result">Result:</b> We made a game that copies design patterns from other common games (such as the Oregon Trail) to skip the need for explanations.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-up"></div>
			<!-- this is where the goals are specified -->
			<div class = "goals darkBG">
				<div data-aos="fade-right" class = "contain overflow-hide">
					<h2>Goals</h2>
					<p>We wanted to show the primary stakeholders in this problem space - it is not just the home owners who are affected but also goverment workers, scientists, and everyday beach-goers. </p>
					<p>We also wanted to show how difficult it is to convince actual homeowners to leave their property, even with a sizable financial incentive. </p>
					<p>Finally, we wanted to demonstrate just how hairy this process is. It’s not an easy solution, even though scientist insist that it’s the only one.</p>
				</div>
				<div data-aos="fade-down" class = "contain overflow-hide">
					<h2>Design considerations</h2>
					<div class = "flex">
						<div  class = "solution inner">
							<h3>Engaging visuals</h3>
							<p>The visuals needed to be aesthetic, easy to implement and load, and representative of the Times' brand identity.</p>
						</div>
						<div  class = "stakeholders inner">
						<h3>Responsive design</h3>
							<p>The game needed to perform well on all platforms, since over 40% of the Times' audience at the time used mobile devices to access the site.</p>
						</div>
						<div  class = "problem-space inner">
						<h3>Accessible game mechanics</h3>
						<p>The Los Angeles Times has an aging audience that needed to play the game with minimal tutorials.</p>
						</div>
					</div>
					<div class = "flex">
						<div  class = "solution inner">
							<h3>Gamifying real problems</h3>
							<p>A big part of this problem space was how average homeowners are resistant to moving inland despite that being the only sane option. This nuance had to be shown in the game.</p>
						</div>
						<div  class = "stakeholders inner">
						<h3>Creating empathy</h3>
							<p>When designing the game we had to be factual while also relating the struggles of people involved in the situation. Above all, we wanted the audience to develop some empathy for the problem.</p>
						</div>
						<div  class = "problem-space inner">
						<h3>Showing mulitple stakeholders</h3>
						<p>The game had to show what beachgoers feel about the issue and how that differs from environmentalists, politicians,homeowners, and others involved in the problem space. </p>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we explain process -->
			<div class = "the-process">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Ideation</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "image inner overflow-hide">
							<h3>User testing with Mid-fi</h3>
							<img alt = "Mid-fi mockup shows a beachside view with a city at the edge of the water" src = "../images/projects/beaches/image3.jpg">
							<p class = "image-caption">Mid-fi mockup (Swetha Kannan / Los Angeles Times)</p>
							<!-- <p>Some of the biggest elements we added as a result of research was the characters we included that were meant to visualize the stakeholders in this problem space. We also added a buyback system where users would be able to offer financial incentive to move coastal communities. We tried to model these scenerios after real ones we encountered in our interviews.</p> -->

							<p>We <b>playtested the game</b>, using a text-only version created using twine.js, with 5 users.</p>

							<p>Rosanna also sent the test game to her sources who gave us <b>expert insight</b> into how accurately the game portrays the problem space. </p>
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<h3>Key Insights</h3>
							<ul class = "numbered">
								<li><b>Inaccurate setting - </b>Experts were confused about the location since the mockup screens did not look like a California coastline.<br><br><b class = "result">Result:</b> I replaced high-rise buildings with a large highway, typical of the California coast, and a few one-story houses.</li>
								<li><b>No character interaction - </b>Players did not click on characters meant to represent stakeholders in the game.<br><br><b class = "result">Result:</b> I had the characters speak automatically without user input and without disrupting the flow of the game. Thus, players can see what they want to say and can choose whether or not to ignore it.</li>
								<li><b>Too many value flows - </b>Players were not able to easily jungle or understand the point systems (funds, beach health, and popularity).<br><br><b class = "result">Result:</b> The beach health and popularity point systems were scrapped leaving only the funds system.</li>
								<li class = "last"><b>No empathy for coastal communities - </b>Users got too frustrated trying to move coastal homeowners.<br><br><b class = "result">Result:</b>  We made speech bubbles for homeowners and assigned them children, families, etc. to make these characters feel fleshed out.</li>
							</ul>
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="mobile-only connect-up"></div>
			<!-- this is where the goals are specified -->
			<div class = "design-considerations darkBG">
				<div data-aos="fade-down" class = "contain overflow-hide">
					<h2>Implementation</h2>
					<p>I used Cinema 4D to make all the 3D elements you see in the game and then used After Effects to create all the animations. Afterwards, I exported these animations used in the game into Javascript by using the the Bodymovin library.</p>

				</div>
			</div>

			

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we explain process -->
			<div class = "the-process">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Animations</h2>
					<p>A large part of this project was all the animations that I created for the game. Below are a select few.</p>
					<h3>People</h3>
				</div>
			</div>



			<div class="mobile-only connect-up"></div>
			<!-- las section of our page -->
			<div class = "the-results darkBG">
				<div class = "line"></div>
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">The results</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "image inner overflow-hide">
							<img alt = "view of the initial desktop screen of the webpage" src = "../images/projects/beaches/image4.jpg">
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<p class = "first">The story published alongside it’s written version on July 7th, 2019.</p>
							<p>The page published to great success. It was met with steady and increasing traffic for a week, a time frame almost unheard of in a fast-paced news cycle, and was one of our top viewed project pages of the year. Beyond the initial publishing week, the game has been used by professionals to teach students about the complexities of our beaches and to train local city officials before they began their duties assisting the development of beachside neighborhoods.</p>
							<p><a href = "https://www.latimes.com/projects/la-me-climate-change-ocean-game/">Play the game >></a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- All my awards! So proud -->
			<div class = "awards darkBG">
				<h2 data-aos="fade">Awards</h2>
				<div class = "all">
					<div data-aos="fade-up" class="award flex pulitzer">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
						<div class = "inner text"><p><a href="https://www.pulitzer.org/finalists/rosanna-xia-swetha-kannan-and-terry-castleman-los-angeles-times" alt="This link will take you to the 2019 Pulitzer Prize page">2020 <b>Pulitzer Prize, finalist</b> for explanatory reporting</a></p></div>
					</div>
					<div data-aos="fade-up" class="award flex">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
						<div class = "inner text"><p>2020 Online Journalism Award, Finalist</p></div>
					</div>
					<div data-aos="fade-up" class="award flex">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
							<div class = "inner text"><p>2019 California Online Journalism Awards, 3rd place in Public Service Journalism</p></div>
					</div>
					<div data-aos="fade-up" class="award flex">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
						<div class = "inner text"><p>2019 California Online Journalism Awards, 2nd place in In-depth reporting</p></div>
					</div>
				</div>

			</div>


			<!-- Here is contact info, repeated in every page -->
			<div id="contact" class = "imageSet darkBG">
				<h2>Let's connect</h2>
				<nav class = "flex">
					<a class = "inner" alt = 'Link to my instagram' href="https://www.instagram.com/limedumplr/"><img class="icon" src="../images/icons/instagram.svg" alt = "instagram icon" ><p>Instagram</p></a>
					<a class = "inner" alt = 'Link to my github' href="https://github.com/swethakan"><img class="icon" src="../images/icons/github.svg" alt = "github icon" ><p>Github</p></a>
					<a class = "inner" alt = 'Link to my twitter' href="https://twitter.com/swetha_kan"><img class="icon" src="../images/icons/twitter.svg" alt = "twitter icon" ><p>Twitter</p></a>
					<a class = "inner" alt = 'Link to my linkedin' href="https://www.linkedin.com/in/swetha-kannan-b5a14791/"><img class="icon" src="../images/icons/linkedin.svg" alt = "linkedIn icon" ><p>Linkedin</p></a>
				</nav>
			</div>

	</body>
	<footer>
		<!-- Now loading in the javascript to add functionality. -->
		<!-- Now loading in the javascript to add functionality. -->
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
	</footer>
</html>