<!doctype html>
<html lang="en">
	<head>
		<title>Swetha Kannan's portfolio - Ocean Game</title>
		<meta name="description" content="Swetha Kannan UX UI Designer Portfolio - Ocean Game">
		<meta name="keywords" content="UX UI Designer Portfolio indian woman user experience human-computer interaction ocean game california">
		<!-- bringing in the style sheet -->
		<link rel="stylesheet" href="../styles/style.css">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

		<link rel="icon" href="../images/favicon.png">

		<!-- Transfering in a google font Open Sans, Free for all use -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body class = "sw_women project">
	<!-- Navigation at the top of the page which is reflected in all pages. Tutorial used: https://www.w3schools.com/howto/howto_js_topnav.asp -->
		<nav class = "topNav">
			<a href="../../index.html" class = "left desktop-only">Swetha Kannan<span class = "title">UX/UI Designer</span></a>
			<a href="#contact">Connect</a>
			<a href="../../index.html#portfolio">Projects</a>
			<a href="../../index.html">About</a>
		</nav>
		<!-- This is our 'heroic' topper -->
		<div class = "topper">
			<div class = "flex">
				<div class = "inner"><h1 data-aos="fade-up">There are more <span class = "blue">women</span> than ever in ‘Star Wars.’ <span class = "yellow">Men</span> still do most of the talking</h1></div>
				<div class = "inner"><img src = "../images/projects/sw_women/topper/desktop.png" alt= "illustrated headshots of all major characters from Rey's trilogy in the Star Wars universe"></div>
			</div>
		</div>

			<!-- Here is where the actual content of the page should go -->
			<div class = "high-level-summary">
					<h2 data-aos="fade">Overview</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "inner image desktop-only overflow-hide">
							<img alt = "view of the webpage on mobile" src = "../images/projects/sw_women/mobile/mobile1.jpg">
						</div>
						<div data-aos="fade-left" class = "inner text overflow-hide">
							<ul>
								<li><label>My role:</label>UX Design, data visualization, research, animation, illustration</li>
								<li><label>Team:</label>Designer, reporters, developers</li>
								<li><label>Year:</label>2019</li>
								<li><label>Skills:</label>Reporting<br>Data Visualization<br>Hi-fi Mock-up<br>Mid-fi Mock-up</li>
							</ul>
						</div>
					</div>
			</div>

			<!-- Here is where first bar for the problem space goes-->
			<div class = "the-deets darkBG">
				<div class = "flex">
					<div data-aos="fade-down" class = "stakeholders inner">
						<h2>Stakeholder</h2>
						<h3>Los Angeles Times</h3>
						<p>Star Wars: The Rise of Skywalker was going to end the latest trilogy in the popular “Star Wars” series. It was important for the Times to do what we could to cover the even before the release of the film.</p>
					</div>
					<div data-aos="fade-up" class = "problem-space inner">
						<h2>Problem Space</h2>
						<h3>The first female protagonist</h3>
						<p>We went through brainstorming sessions to figure out what we wanted to explore on the page. Ultimately, we settled on comparing Rey, the first female protagonist in the series, to other leads.</p>
					</div>
					<div data-aos="fade-down" class = "solution inner">
						<h2>Solution</h2>
						<h3>Quantify dialogue</h3>
						<p>To make a reasonable comparison, we decided to explore how script writers handled Rey. We did this by counting words characters spoke, how and what they told each other, and more.</p>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we understand the problem space -->
			<div class = "understand-problem-space">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">Understanding the problem Space</h2>
					<div data-aos="fade-right" class = "flex overflow-hide">
						<div class = "image inner">
							<img alt = "Screenshot of a star wars movie still. shows Rey and Chewie on a bike." src = "../images/projects/sw_women/image1.png">
							<p class = "image-caption">Daisy Ridley performs as Rey in “Star Wars: Rise of Skywalker” (Lucasfilm/Disney/Sky)</p>
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<p class = "first">In 2019, Star Wars was set to release their latest film that would end the trilogy which started with Star Wars: The Force Awakens. As the first female protagonist in the series, we decided to look at how scriptwriters have handled her trilogy as compared to the men.</p>
							<p>The basic flow of this project was first creating a purpose for our information - why exactly were we creating data based on words spoken? Is it fair to use this as a measure for Rey's worth in the trilogy? Afterall, there are different variables that can affect how much a character speaks. To explain this, a good structure to the peace was imperative - starting from a wider view of the star wars universe in general, to just the women, and finally, to Rey herself. Our staff writer, Tracy Brown was able to smoothly write this story in a way that made everything come together seamlessly.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-up"></div>
			<!-- this is where the goals are specified -->
			<div class = "goals darkBG">
				<div data-aos="fade-right" class = "contain overflow-hide">
					<h2>Goals</h2>
					<p>We wanted to show how Rey compares to Luke and Anakin as the first female protagonist during a time when the #metoo movement was at the forefront of everyone’s minds.</p>
					<p>To do this, we were tasked with using the character’s dialougues with others as a point of comparison. </p>
				</div>
			</div>

			<div class="mobile-only connect-down"></div>
			<!-- Here is where we explain process -->
			<div class = "the-process">
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">The process</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "image inner overflow-hide">
							<img alt = "Drafts show placement of where text will go and what data will be used to back up the text. " src = "../images/projects/sw_women/image2.jpg">
							<p class = "image-caption">Boards made in Adobe XD show initial mid-fidelity mock-ups (Swetha Kannan / Los Angeles Times)</p>
							<img alt = "Excel sheet shows how we seperated every line in the films and pairred it with a character." src = "../images/projects/sw_women/image3.jpg">
							<p class = "image-caption">We spent hours figuring out which characters spoke the most and thus needed to be included on the page (Swetha Kannan / Los Angeles Times)</p>
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<p class = "first">The basic flow of this project was first creating a purpose for our information - why exactly were we creating data based on words spoken? Is it fair to use this as a measure for Rey's worth in the trilogy? Afterall, there are different variables that can affect how much a character speaks. To explain this, a good structure to the peace was imperative - starting from a wider view of the star wars universe in general, to just the women, and finally, to Rey herself. Our staff writer, Tracy Brown was able to smoothly write this story in a way that made everything come together seamlessly.</p>
							<p>Reporting this project was a monumental team effort. I worked on a 3-person team and we each took a turn re-watching all 8 movies of the Star Wars films. As we watched, we fact-checked the scripts we had for each movie, counted each beep and boop R2D2 and other robots made and counted all of Chewie's groans. As we worked we faced important questions that required serious decision-making: When do we count Anakin's lines as his own and when do we count it as Darth Vader? Should Padme's lines be attributed to her even if it is Sabe, dressed as the queen, actually speaking?</p>
							<p>We needed a good way to represent each character in our design (because a huge visualiation we intended to create was a relationship graph which showed almost 50+ characters) and thus decided to draw them ourselves. We went through a series of mid-fidelity design mock-ups before we landed on what was eventually published.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="mobile-only connect-up"></div>
			<!-- last section of our page -->
			<div class = "the-results darkBG">
				<div class = "line"></div>
				<div class = "contain">
					<h2 data-aos="fade-right" class = "overflow-hide">The results</h2>
					<div class = "flex">
						<div data-aos="fade-right" class = "image inner overflow-hide">
							<img alt = "view of the initial desktop screen of the webpage" src = "../images/projects/sw_women/image4.jpg">
						</div>
						<div data-aos="fade-left" class = "text inner overflow-hide">
							<p class = "first">The story published on December 19, 2019.</p>
							<p>The story was a hit with our readers although It was definitely divisive with fans who either liked or disliked it. Funnily enough, our data was able to accurately predict the total amount of words Rey would come to speak in the final movie of her trilogy - and no, she was not able to catch up to her two predecessors. </p>
						    <p>If you want to see the data yourself, what we gathered is now public on github.</p>
							<p>The story won a variety of awards in the coming year after it’s release</p>
						</div>
					</div>
				</div>
			</div>
			<!-- All my awards! So proud -->
			<div class = "awards darkBG">
				<h2 data-aos="fade">Awards</h2>
				<div class = "all">
					<div data-aos="fade-up" class="award flex">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
						<div class = "inner text"><p>2019 Award of Excellence at Society of News Design(SND) awards</p></div>
					</div>
					<div data-aos="fade-up" class="award flex">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
							<div class = "inner text"><p>2020 National Arts and Entertainment Journalism, Award for Graphics</p></div>
					</div>
					<div data-aos="fade-up" class="award flex">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
						<div class = "inner text"><p>2020 National Arts and Entertainment Journalism, Award for Commentary Analysis/Trend in Film</p></div>
					</div>
					<div data-aos="fade-up" class="award flex">
						<div class = "inner"><img alt="award icon" src="../images/icons/award-gold.svg"></div>
						<div class = "inner text"><p>2020 National Arts and Entertainment Journalism, Award for Commentary Diversity/Gender</p></div>
					</div>
				</div>

			</div>


			<!-- Here is contact info, repeated in every page -->
			<div id="contact" class = "imageSet darkBG">
				<h2>Let's connect</h2>
				<nav class = "flex">
					<a class = "inner" alt = 'Link to my instagram' href="https://www.instagram.com/limedumplr/"><img class="icon" src="../images/icons/instagram.svg" alt = "instagram icon" ><p>Instagram</p></a>
					<a class = "inner" alt = 'Link to my github' href="https://github.com/swethakan"><img class="icon" src="../images/icons/github.svg" alt = "github icon" ><p>Github</p></a>
					<a class = "inner" alt = 'Link to my twitter' href="https://twitter.com/swetha_kan"><img class="icon" src="../images/icons/twitter.svg" alt = "twitter icon" ><p>Twitter</p></a>
					<a class = "inner" alt = 'Link to my linkedin' href="https://www.linkedin.com/in/swetha-kannan-b5a14791/"><img class="icon" src="../images/icons/linkedin.svg" alt = "linkedIn icon" ><p>Linkedin</p></a>
				</nav>
			</div>

	</body>
	<footer>
		<!-- Now loading in the javascript to add functionality. -->
		<!-- Now loading in the javascript to add functionality. -->
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
	</footer>
</html>